# Environment files
.env
.env.*
!.env.example

# Data directories
/data/*
!/data/.gitkeep
#!/data/fits/samples

# Dependencies
/vendor/
/node_modules/
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/
*.sublime-*

# Logs
*.log
/logs/*
!/logs/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Database files
*.sqlite
*.sqlite3
*.db

# Python virtual environment
venv/
.venv/
.python-version

# Temporary files
*.tmp
*.bak
*.swp

# Continue
.continue
.continue/*

# dev files
awi-images*.tar
docker-save.bat
/docker-compose.override.yml
/docker-compose.override.yml.off
/src/VERSION

# Node.js
/node_modules
npm-debug.log

# CSS output
/src/assets/css/output.css

#composer
/src/vendor
/src/vendor/*

# Test files
src/test.php

